---
---

$themeColor: #ff0a16;
$primaryDark: #141414;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;

.box-item .box-body img.stopwatch {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

@import "jekflix";

.box-item .box-body p {
  margin-bottom: 0.5em;
}

.duration {
  color: #737373;
  margin-bottom: 1em;
  display: block;
}

.box-item .box-body .cover .loader {
  visibility: hidden;
}

.box-item .box-body img {
  height: 200px;
  width: auto;
}

.logo {
  padding-left: 10px;
}

.subtitle {
  color: white;
  margin: 0;
  padding-left: 10px;
}

.bar-header {
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-content .tags a {
  color: #a9a9a9;
  border: 1px solid #a9a9a9;
}

.post-content .tags a:hover {
  color: #141414;
  background: white;
  border-color: white;
}
