---
---

$themeColor: #ff0a16;
$primaryDark: #141414;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;

.box-item .box-body img.stopwatch {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
}

@import "jekflix";

.box-item .box-body p {
  margin-bottom: 0.5em;
}

.duration {
  color: #737373;
  margin-bottom: 1em;
  display: block;
}
